.DashboardAdmin {
  margin: 40px;
  color: var(--zompColor50);
  .verify {
    padding: 5px;
    border-radius: 5px;
    &.agree {
      color: green;
      background-color: rgba(0, 128, 0, 0.151);
    }
    &.disagree {
      color: red;
      background-color: rgba(128, 0, 0, 0.151);
    }
    &.proses {
      color: blue;
      background-color: rgba(0, 0, 128, 0.151);
    }
    &.notsubmit {
      color: orangered;
      background-color: rgba(241, 182, 55, 0.151);
    }
  }
  .titleTable {
    margin-top: 20px;
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: bold;
  }
  .colortable {
    color: white;
  }
}
