.aboutComp {
  margin-top: 5rem;
  padding: 0px 60px;
  flex-wrap: wrap;
  justify-content: space-around;
  .textAbout {
    //  flex-grow: 8;
    flex-direction: column;
    padding: 2rem;
    width: 550px;
    //  margin-right: 4rem;
    .title {
      align-self: flex-start;
    }
  }
  .imgAbout {
    //  flex-grow: 4;
    width: 400px;
    img {
      border-radius: 100px 40px 0 40px;
    }
  }
}
