.aboutComp {
  margin-top: 5rem;
  .topbarInfo {
    text-align: center;
    .title {
      font-size: 48px;
      font-weight: 700;
    }
    .subtitle {
      font-size: 16px;
      font-weight: 500;
      color: var(--Black70);
    }
  }
}
