:root {
  /* Zomp */
  --zompColor70: #37787c;
  --zompColor60: #3e878c;
  --zompColor50: #45969b;
  --zompColor40: #58a1a5;
  --zompColor30: #6aabaf;
  --zompColor20: #7db6b9;

  /* Cultured */
  --CulturedColor70: #c6c6c6;
  --CulturedColor60: #dfdfdf;
  --CulturedColor50: #f8f8f8;
  --CulturedColor40: #f9f9f9;
  --CulturedColor30: #f9f9f9;
  --CulturedColor20: #fafafa;

  /* pumkin */
  --PumpkinColor70: #c75711;
  --PumpkinColor60: #e06213;
  --PumpkinColor50: #f96d15;
  --PumpkinColor40: #fa7c2c;
  --PumpkinColor30: #fa8a44;
  --PumpkinColor20: #fb995b;

  /* Verdigris */
  --VerdigrisColor70: #409296;
  --VerdigrisColor60: #48a4a8;
  --VerdigrisColor50: #50b6bb;
  --VerdigrisColor40: #62bdc2;
  --VerdigrisColor30: #73c5c9;
  --VerdigrisColor20: #85cccf;

  /* GrayScale */

  --Black100: #151618;
  --Black90: #2c2d2f;
  --Black80: #444546;
  --Black70: #5b5c5d;
  --Black60: #737374;
  --white50: #b1b4ba;
  --white40: #c8cbd2;
  --white30: #d9dce3;
  --white20: #e8e8e8;
  --white10: #ffffff;
}

.detailHeroEvent {
  height: 50vh;
  background: linear-gradient(rgba(33, 33, 33, 0.522), rgba(33, 33, 33, 0.522)),
    url("../../../assets/image/img-hero.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: auto 40px;
  position: relative;

  .setContainer {
    .homeCardContainer {
      flex-wrap: wrap;
      width: 100%;
      border-radius: 1rem;
      // padding: 5rem;
      padding: 0.5rem 1rem 5rem 1rem;
      // background: var(--zompColor50);
      align-items: flex-end;

      position: absolute;
      gap: 1rem;
      justify-content: center;
      bottom: -60%;
      transform: translate(-50%);
      left: 50%;
      .imageEvent {
        background: white;
        width: 250px;
        height: 250px;

        img {
          width: 250px;
          height: 250px;
        }
      }
      .contentsEvent {
        flex-wrap: wrap;
        // flex-grow: 10;
        height: 85%;
        width: 70%;
        height: 112px;
        //   order: 1;
        justify-content: space-between;
        gap: 12px;
        padding: 11px 20px 11px 20px;
        // .iconMenus {
        //   cursor: default;
        //   z-index: 100px;
        //   width: 30px;
        //   height: 30px;
        //   position: absolute;
        //   right: 220px;
        //   // top: 70px;
        //   bottom: 120px;
        //   background: var(--CulturedColor50);
        //   border-radius: 9999px;
        //   .icon {
        //     position: absolute;
        //     top: 5px;
        //     left: 5px;
        //     width: 20px;
        //     height: 20px;
        //   }
        // }
        .contentEvent {
          gap: 12px;
          .kate {
            font-size: 12px;
            font-weight: 400;
            line-height: 15px;
            border: 2px solid var(--zompColor50);
            width: 20%;
            text-align: center;
            margin-bottom: 12px;
          }
          .title {
            margin-bottom: 12px;
            font-size: 20px;
            font-weight: bold;
            line-height: 20px;
          }
          .person {
            // margin-bottom: 12px;
            font-size: 12px;
            font-weight: 400;
            color: var(--Black80);
          }
        }
        .rightContentsEvent {
          display: flex;
          gap: 10px;
          // background-color: yellow;
          justify-content: center;
          align-items: center;
          .iconMenus {
            cursor: default;
            z-index: 100px;
            width: 40px;
            height: 40px;
            // position: absolute;
            right: 220px;
            // top: 70px;
            bottom: 120px;
            background: var(--CulturedColor50);
            border-radius: 9999px;
            display: flex;
            justify-content: center;
            align-items: center;
            .icon {
              width: 20px;
              height: 20px;
            }
          }
          .linkEvent {
            .btn {
              padding: 12px;
              width: 150px;
            }
          }
        }
      }
    }
  }
}

.infoDetailEvent {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  // min-height: 500px;
  // background-color: yellow;
  margin: 12rem 100px 5rem 100px;
  border-radius: 1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  gap: 20px;
  .description {
    display: flex;
    flex-direction: column;
    gap: 12px;
    min-height: 500px;
    background-color: var(--CulturedColor60);
    border: 0.9px solid var(--Black100);
    flex: 1;
    height: 100%;
    border-radius: 8px;
    .title {
      font-size: 20px;
      font-weight: bold;
    }
  }
  .infoKet {
    width: 350px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    .infoLocation {
      display: flex;
      flex-direction: column;
      gap: 8px;
      width: 100%;
      background-color: var(--CulturedColor60);
      border: 0.9px solid var(--Black100);
      border-radius: 8px;
      padding: 8px;
      min-height: 100px;
      .contentDate {
        background-color: #151618;
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .detailHeroEvent {
    height: 50vh;
    .setContainer {
      .homeCardContainer {
        bottom: -40%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .detailHeroEvent {
    height: 500px;
    margin: auto 0px;
    .setContainer {
      .homeCardContainer {
        flex-wrap: nowrap;
        bottom: -35%;
        .imageEvent {
          background: white;
          width: 200px;
          height: 200px;
          img {
            width: 200px;
            height: 200px;
          }
        }
      }
    }
  }
  .infoDetailEvent {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    // min-height: 500px;
    // background-color: yellow;
    margin: 12rem 10px 5rem 10px;
    border-radius: 1rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    gap: 10px;
    .description {
      display: flex;
      flex-direction: column;
      order: 2;
      width: 100%;
      flex: 1;
      height: 100%;
      .title {
        font-size: 20px;
        font-weight: bold;
      }
    }
    .infoKet {
      width: 100%;
      order: 1;
      // width: 350px;
      flex-wrap: wrap;
      justify-content: space-between;
      display: flex;
      gap: 10px;
      flex-direction: row;
    }
  }
}

@media screen and (max-width: 476px) {
  .detailHeroEvent {
    height: 350px;
    margin: auto 0px;

    .setContainer {
      .homeCardContainer {
        flex-wrap: wrap;
        width: 100%;
        min-height: 400px;
        border-radius: 1rem;
        // padding: 5rem;
        padding: 0;
        // background: var(--zompColor50);
        align-items: flex-end;

        position: absolute;
        gap: 1rem;
        justify-content: center;
        bottom: 0%;
        top: 40%;
        transform: translate(-50%);
        left: 50%;
        padding-bottom: 100px;
        .imageEvent {
          background: white;
          width: 150px;
          height: 150px;

          img {
            width: 150px;
            height: 150px;
          }
        }
        .contentsEvent {
          // background: yellow;
          flex-wrap: wrap;
          // flex-grow: 10;
          width: 100%;
          height: 112px;
          //   order: 1;
          justify-content: center;
          gap: 12px;
          padding: 11px 20px 11px 20px;
          .contentEvent {
            gap: 12px;
            .kate {
              font-size: 12px;
              font-weight: 400;
              line-height: 15px;
              border: 2px solid var(--zompColor50);
              width: 20%;
              text-align: center;
              margin-bottom: 12px;
            }
            .title {
              margin-bottom: 12px;
              font-size: 20px;
              font-weight: bold;
              line-height: 20px;
            }
            .person {
              // margin-bottom: 12px;
              font-size: 12px;
              font-weight: 400;
              color: var(--Black80);
            }
          }
          .linkEvent {
            .btn {
              padding: 12px;
              width: 150px;
            }
          }
        }
      }
    }
  }
}

.likeButton {
  color: black;
}
