.containerww {
  width: 100%;
  height: 100vh;
  background: antiquewhite;
}

.cards {
  height: 250px;
  width: 250px;
  /* padding: 4px; */
  position: relative;
  background: bisque;
}

.popo {
  background: #333;
  width: 250px;
  height: 250px;
  background-position: center;
  background-size: cover;
  /* transition-duration: 500ms; */
  position: relative;
}

.leftIcon {
  position: absolute;
  top: 50%;
  background: white;
  left: 3%;
  border-radius: 50%;
}

.rightIcon {
  position: absolute;
  top: 50%;
  right: 0%;
  background: white;
  border-radius: 50%;
}

.cardsaa {
  display: flex;
  position: absolute;
  top: 90%;
  left: 45%;
}

.icon222 {
  position: absolute;
  right: 5px;
  top: 10px;
  border-radius: 50%;
  background-color: #333;
}
