:root {
  /* Zomp */
  --zompColor70: #37787c;
  --zompColor60: #3e878c;
  --zompColor50: #45969b;
  --zompColor40: #58a1a5;
  --zompColor30: #6aabaf;
  --zompColor20: #7db6b9;

  /* Cultured */
  --CulturedColor70: #c6c6c6;
  --CulturedColor60: #dfdfdf;
  --CulturedColor50: #f8f8f8;
  --CulturedColor40: #f9f9f9;
  --CulturedColor30: #f9f9f9;
  --CulturedColor20: #fafafa;

  /* pumkin */
  --PumpkinColor70: #c75711;
  --PumpkinColor60: #e06213;
  --PumpkinColor50: #f96d15;
  --PumpkinColor40: #fa7c2c;
  --PumpkinColor30: #fa8a44;
  --PumpkinColor20: #fb995b;

  /* Verdigris */
  --VerdigrisColor70: #409296;
  --VerdigrisColor60: #48a4a8;
  --VerdigrisColor50: #50b6bb;
  --VerdigrisColor40: #62bdc2;
  --VerdigrisColor30: #73c5c9;
  --VerdigrisColor20: #85cccf;

  /* GrayScale */

  --Black100: #151618;
  --Black90: #2c2d2f;
  --Black80: #444546;
  --Black70: #5b5c5d;
  --Black60: #737374;
  --white50: #b1b4ba;
  --white40: #c8cbd2;
  --white30: #d9dce3;
  --white20: #e8e8e8;
  --white10: #ffffff;
}

.detailFood {
  padding-top: 5em;
  margin: 0 5em 5em 5em;
  // background-color: aliceblue;
  color: var(--Black100);
  .topbar {
    padding-top: 60px;
    justify-content: space-between;
    //  align-items: flex-end;
    //  background: #232323;
    .leftTopbar {
      .title {
        font-size: 24px;
        font-weight: bold;
      }
      .location {
        gap: 2px;
        padding-bottom: 4px;
        .subtitle {
          font-size: 16px;
          font-weight: 500;
        }
      }
    }
    .rightTopbar {
      background: #000;
      align-self: flex-end;
      justify-self: flex-end;
    }
  }
  .imageDetail {
    width: 100%;
    height: 600px;
    margin-top: 64px;
    margin-bottom: 64px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .satu {
      width: 580px;
      height: 600px;
      background-color: #37787c;
      border-radius: 100px 0 0 0;
    }

    .rightImages {
      width: 580px;
      height: 600px;
      flex-direction: column;
      justify-content: space-between;

      .rightImage {
        //   justify-content: flex-end;
        justify-content: space-between;

        display: flex;
        .dua {
          width: 280px;
          height: 300px;
          background-color: #2c2d2f;
        }
        .tiga {
          width: 280px;
          height: 300px;
          background-color: rebeccapurple;
        }
      }
      .rightBottomImage {
        position: relative;
        .empat {
          position: relative;
          width: 580px;
          height: 290px;
          background: #fa8a44;
          margin-top: 10px;
          border-radius: 0 0 100px 0;
        }
        .getAllPhoto {
          position: absolute;
          cursor: pointer;
          bottom: 15px;
          right: 70px;
          background: var(--CulturedColor60);
          border: 2px solid var(--zompColor50);
          padding: 8px;
          .icon {
            width: 20px;
            height: 20px;
          }
          .Content {
            font-size: 14px;
          }
        }
      }
    }
  }
}
