:root {
  /* Zomp */
  --zompColor70: #37787c;
  --zompColor60: #3e878c;
  --zompColor50: #45969b;
  --zompColor40: #58a1a5;
  --zompColor30: #6aabaf;
  --zompColor20: #7db6b9;

  /* Cultured */
  --CulturedColor70: #c6c6c6;
  --CulturedColor60: #dfdfdf;
  --CulturedColor50: #f8f8f8;
  --CulturedColor40: #f9f9f9;
  --CulturedColor30: #f9f9f9;
  --CulturedColor20: #fafafa;

  /* pumkin */
  --PumpkinColor70: #c75711;
  --PumpkinColor60: #e06213;
  --PumpkinColor50: #f96d15;
  --PumpkinColor40: #fa7c2c;
  --PumpkinColor30: #fa8a44;
  --PumpkinColor20: #fb995b;

  /* Verdigris */
  --VerdigrisColor70: #409296;
  --VerdigrisColor60: #48a4a8;
  --VerdigrisColor50: #50b6bb;
  --VerdigrisColor40: #62bdc2;
  --VerdigrisColor30: #73c5c9;
  --VerdigrisColor20: #85cccf;

  /* GrayScale */

  --Black100: #151618;
  --Black90: #2c2d2f;
  --Black80: #444546;
  --Black70: #5b5c5d;
  --Black60: #737374;
  --white50: #b1b4ba;
  --white40: #c8cbd2;
  --white30: #d9dce3;
  --white20: #e8e8e8;
  --white10: #ffffff;
}
.actionManageMitra {
  height: 100%;
  width: 90%;

  margin: 20px auto;
  .top {
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    background: var(--white10);
    border-radius: 20px;
    height: 44px;
    margin-bottom: 40px;
    h1 {
      color: var(--Black100);
      font-size: 20px;
      padding: 5px 20px;
    }
  }
  .bottoms {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .bottom {
      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap;
      //  height: 375px;
      //  width: 880px;
      width: 90%;
      background: var(--white10);
      padding: 40px;
      gap: 80px;
      //  margin: 60px;
      .left {
        flex-wrap: wrap;
        .imageUpload {
          justify-content: center;
          width: 80px;
          height: 98px;
          position: relative;
          .viewImage {
            position: relative;
            background: wheat;
          }
          .toolAddImage {
            position: absolute;
            width: 32px;
            height: 32px;
            bottom: -5%;
          }
        }
      }
      .right {
        flex-wrap: wrap;
        gap: 12px 40px;
        width: 640px;
      }
    }
  }
}
